*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-title{
    font-weight: bold;
    color: #0d6efd;
    text-align: center;
}
header a{
    text-decoration: none;
   
   }
   .pc-nav ul{
       display: flex;
       justify-content: space-around;
       font-size: 30px;
       list-style:none;
   }
   .projetos img{
    transition: 750ms;
    
   }
   .projetos img:hover{
    transform: scale(1.05);

   }